    <div class="activity" id="a-{{ id }}">
        <span class="body">
            <a href="" class="name">{{ username }}</a>
            {{ content }}
            <span class="time">{{ date }}</span>
        </span>
    </div>
