<div class="activity" id="a-{{ id }}">
    <div class="body">
        <span class="title">{{ content }}</span>
        <ul class="answers">
        {{#answers}}
          <li>{{.}}</li>
        {{/answers}}
        
        </ul>
    </div>
    {{{ meta }}}
</div>
