    <div class="activity" id="a-{{ _id }}">
        <span class="body folder">
            <a href="/pm#/{{_id}}" class="title">{{ content }}</a>
            <span class="time">{{ date }}</span>
        </span>
    </div>
