<div class="activity" id="a-{{ id }}">
    <span class="body">
        <a href="" class="name">{{ username }}</a>
        {{ content }}
        <div class="link-info">
        {{#link_image}}
            <img class="link-box-image" src="{{link_image}}" />
        {{/link_image}}
            <strong class="link-box-title"><a href="{{link_url}}">{{ link_title }}</a></strong>
            <div class="link-box-description">{{link_description}}</div>
        </div>
        <span class="time">{{ date }}</span>
    </span>
</div>
