<div class="activity" id="a-{{ id }}">
    <div class="body">
        <strong>{{ content }}</strong>
        <ul class="answers">
        {{#answers}}
          <li>{{title}}</li>
        {{/answers}}
        
        </ul>
    </div>
    <span class="time">{{ date }}</span>
</div>
