    <div class="activity" id="a-{{ id }}">
        <div class="body">
            {{ content }}
        </div>
        <div class="meta">
            <span class="fullname"><a href="#">{{ username }}</a></span>
            <span class="time">{{ date }}</span>
        </div>
    </div>
