<div class="meta">
    <a href="#" data-nodeid="{{ id }}" class="item-removebutton removebutton ui-icon ui-icon-trash"></a>
    <span class="fullname"><a href="#">{{ username }}</a></span>
    <span class="effective">{{ effective }}</span>
    <span class="time">{{ date }}</span>
</div>
