<div id="timeline">
hansi  
  <h1>What are you doing right now?</h1>
  <form action="timeline_submit" method="get" accept-charset="utf-8">
      <textarea name="status" rows="8" cols="40">huhuhu</textarea>

    <p><input type="submit" value="Continue &rarr;"></p>
  </form>
</div>