<div id="activities">  
<div id="breadcrumbbox">
{{#parents}}
    <a href="#" class="bc">{{content}}</a>/
{{/parents}}
<span class="bc active">{{title}}</span>
<a href="#add_folder" class="add">+</a> 
</div>
  <form id="entrybox" name="status" action="#/submit" method="POST" accept-charset="utf-8">
    <input type="hidden" name="status-type" value="note" id="status-type">
    <div id="status-headline">
      <span id='status-content-count'></span>
    </div>
    
    <textarea name="content" 
              rows="2" 
              accesskey="u" 
              autocomplete="false" 
              cols="80" 
              id="status-content" />
    <div id="attachmentlinks">
      <a href="#/link"> + Link</a>
      <a href="#/file"> + File</a>
      <a href="#/event"> + Event</a>
    </div>
    
    <div id="attachment">
    </div>
    <p><input type="submit" id="status-send" value="Send"></p>
  </form>
  <hr />
  <div id="timeline">
    <header>
      <div id="searchbar">
          <form id="search">
            <input type="text" maxlength="200" size="20" value="" />
          </form>
      </div>
      <nav>
        <a class="active" href="#/all">All</a>
        <a href="#/note">Notes</a>
        <a href="#/link">Links</a>
        <a href="#/file">Files</a>
        <a href="#/event">Events</a>
      </nav>
    </header>
    <div id="statuslist"> 
    </div>
  </div>
</div>
