
<div id="activities">  
    <div id="breadcrumbbox">
        <a href="#/" class="bc">/</a>
        {{#parents}}
        <a href="#/{{_id}}" class="bc">{{content}}</a>/
        {{/parents}}

        {{#title}}
        <span class="bc active">{{title}}</span>
        {{/title}}
        <a href="#add_folder" class="add">+</a> 
    </div>
  <div id="entryarea">
    <ul id="tabs">
        <li class="type-tab" data-type="status" id="tab-status"><a href="#">Message</a></li>
        <li class="type-tab" data-type="link" id="tab-link"><a href="#">Link</a></li>
        <li class="type-tab" data-type="poll" id="tab-poll"><a href="#">Poll</a></li>
    </ul>
    <form id="entrybox" name="status" action="#/submit" method="POST" accept-charset="utf-8">
        <div id="status-headline">
            <span id='status-content-count'></span>
        </div>
        <textarea name="content" 
                rows="2" 
                accesskey="u" 
                required="required"
                autocomplete="false" 
                cols="80" 
                id="status-content" />

        <div id="panes">
            <div class="pane" id="pane-status"></div>
            <div class="pane" id="pane-link">
                <div class="field">
                    <label for="link">Link:</label>
                    <div id="link-container">
                        <input type="url" size="40" maxlength="300" value="" name="link" id="link" />
                        <button id="link-submit">Load</button>
                    </div>
                </div>
                <div class="link-info" id="link-box">
                    <img id="link-box-image" />
                    <h4 id="link-box-title">Link Title</h4>
                    <span id="link-box-url">Link URL</span>
                    <div id="link-box-description">Description</div>
                    <div id="imageselector">
                        <a href="#" id="link-box-image-prev">prev</a>
                        <a href="#" id="link-box-image-next">next</a>
                    </div>
                </div>
            </div>
            <div class="pane" id="pane-poll">
                <label class="headline" for="poll-answers">Answers (one per line)</label>
                <textarea name="poll_answers" cols="74" rows="10" id="poll-answers" />
            </div>
        </div>

        <div id="attachmentlinks" style="display:none">
            <a href="#/link"> + Link</a>
            <a href="#/file"> + File</a>
            <a href="#/event"> + Event</a>
        </div>

        <div id="attachment"></div>

        <div id="submitbar">
            <div id="pubdate-field">
                <label for="publication-date">Publication:</label>
                <input type="text" 
                    value="" 
                    class="dateinput"
                    name="publication_date" id="publication-date" />
                <a href="#" id="pubdate-remove" class="removebutton ui-icon ui-icon-trash"></a>
            </div>
            <div id="depubdate-field">
                <label for="depublication-date">Depublication:</label>
                <input type="text" 
                    value="" 
                    class="dateinput"
                    name="depublication_date" id="depublication-date" />
                <a href="#" id="depubdate-remove" class="removebutton ui-icon ui-icon-trash"></a>
            </div>
            <input type="submit" id="status-send" value="Send">
        </div>
    </form>
  </div><!-- entryarea -->
    <div id="timeline">
        <div id="statuslist"> </div>

    </div><!-- timeline -->
</div><!-- activities -->
