@charset "UTF-8";
/* line 3, sass/pm.scss */
#activities {
  /* single tab */
  /* link inside the tab. uses a background image */
  /* when mouse enters the tab move the background image */
  /* active tab uses a class name "current". it's highlight is also done by moving the background image. */
  /* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
  /* width 1 */
  /* width 2 */
  /* width 3 */
  /* width 4 */
  /* initially all panes are hidden */
}
/* line 5, sass/pm.scss */
#activities #breadcrumbbox {
  font-size: 0.9em;
  margin-bottom: 20px;
}
/* line 8, sass/pm.scss */
#activities #breadcrumbbox a {
  text-decoration: none;
}
/* line 11, sass/pm.scss */
#activities #breadcrumbbox .bc.active {
  font-size: 2em;
}
/* line 14, sass/pm.scss */
#activities #breadcrumbbox .add {
  font-size: 1em;
  height: 5px;
  width: 5px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  background-image: linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  padding: 1px 3px;
  border: 1px solid #ccc;
  text-shadow: white 0px 1px 1px;
  color: #888;
}
/* line 25, sass/pm.scss */
#activities #breadcrumbbox .add:hover {
  font-size: 1em;
  height: 5px;
  width: 5px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #aaffcc), color-stop(100%, #88eeaa));
  background-image: -moz-linear-gradient(top, #aaffcc 0%, #88eeaa 100%);
  background-image: linear-gradient(top, #aaffcc 0%, #88eeaa 100%);
  padding: 1px 3px;
  border: 1px solid #888;
  text-shadow: white 0px 1px 1px;
  color: #444;
}
/* line 39, sass/pm.scss */
#activities #entrybox {
  overflow: auto;
  border: 1px solid #ddd;
  border-top: 0;
  padding: 15px 10px;
}
/* line 46, sass/pm.scss */
#activities nav, #activities #attachmentlinks {
  border: 0;
  margin: 0;
  padding: 3px;
  float: left;
}
/* line 51, sass/pm.scss */
#activities nav a, #activities #attachmentlinks a {
  text-decoration: none;
  color: #888;
  padding: 2px 10px;
  margin: 0;
  border: 1px solid #888;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
/* line 59, sass/pm.scss */
#activities nav a.active, #activities #attachmentlinks a.active {
  background: white;
  color: white;
  background: #fa0;
  border: 1px solid #fa0;
}
/* line 66, sass/pm.scss */
#activities #status-content {
  width: 98%;
  font-size: 1.3em;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0 inset;
  resize: none;
  border: 1px solid #aaa;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 2px;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear;
}
/* line 82, sass/pm.scss */
#activities #status-content:focus {
  border: 1px solid #8ac;
  -moz-box-shadow: #00aaff 0 0 3px 0;
  -webkit-box-shadow: #00aaff 0 0 3px 0;
  -o-box-shadow: #00aaff 0 0 3px 0;
  box-shadow: #00aaff 0 0 3px 0;
}
/* line 87, sass/pm.scss */
#activities #status-headline {
  overflow: auto;
}
/* line 90, sass/pm.scss */
#activities #status-headline #status-content-count {
  font-size: 2em;
  font-weight: bold;
  color: #aaa;
  display: block;
  float: right;
}
/* line 97, sass/pm.scss */
#activities #status-headline h2 {
  display: block;
  float: left;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
/* line 106, sass/pm.scss */
#activities #status-send {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  border: 1px solid #aaa;
  font-size: 1.5em;
  float: right;
  text-shadow: white 0px 1px 1px;
  color: #222;
}
/* line 117, sass/pm.scss */
#activities .status-type {
  padding: 10px 0;
}
/* line 121, sass/pm.scss */
#activities hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px dotted black;
}
/* line 127, sass/pm.scss */
#activities .activity {
  overflow: auto;
  margin: 5px 0;
  padding: 3px 0;
  border-bottom: 1px solid #eee;
}
/* line 134, sass/pm.scss */
#activities .vcard {
  float: left;
  padding: 2px;
  margin: 0;
  margin-right: 5px;
  border: 1px solid #ddd;
  display: block;
}
/* line 143, sass/pm.scss */
#activities .body {
  display: block;
}
/* line 147, sass/pm.scss */
#activities .name {
  font-weight: bold;
  color: #113;
  text-decoration: none;
}
/* line 153, sass/pm.scss */
#activities .time {
  display: block;
  font-size: 0.9em;
  color: #aaa;
}
/* line 159, sass/pm.scss */
#activities nav {
  float: right;
}
/* line 163, sass/pm.scss */
#activities #searchbar {
  float: left;
}
/* line 165, sass/pm.scss */
#activities #searchbar input {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;
  background: white;
  border: 1px solid #888;
  font-size: 1.2em;
}
/* line 173, sass/pm.scss */
#activities header {
  overflow: auto;
  background: none;
  margin: 20px 0;
  padding: 0;
  border: 0;
  height: auto;
}
/* line 183, sass/pm.scss */
#activities #tabs {
  list-style: none;
  margin: 0 !important;
  padding: 0;
  height: 30px;
  border-bottom: 1px solid #666;
}
/* line 192, sass/pm.scss */
#activities #tabs li {
  float: left;
  text-indent: 0;
  padding: 0;
  margin: 0 !important;
  list-style-image: none !important;
}
/* line 201, sass/pm.scss */
#activities #tabs a {
  background: url(http://flowplayer.org//img/global/tabs.png) no-repeat -652px 0;
  font-size: 11px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 111px;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: 1px;
}
/* line 217, sass/pm.scss */
#activities #tabs a:active {
  outline: none;
}
/* line 222, sass/pm.scss */
#activities #tabs a:hover {
  background-position: -652px -31px;
  color: #fff;
}
/* line 228, sass/pm.scss */
#activities #tabs .current, #activities #tabs .current:hover, #activities #tabs li.current a {
  background-position: -652px -62px;
  cursor: default !important;
  color: #000 !important;
}
/* line 238, sass/pm.scss */
#activities #tabs .w1 {
  background-position: -519px 0;
  width: 134px;
}
/* line 239, sass/pm.scss */
#activities #tabs .w1:hover {
  background-position: -519px -31px;
}
/* line 240, sass/pm.scss */
#activities #tabs .w1.current {
  background-position: -519px -62px;
}
/* line 243, sass/pm.scss */
#activities #tabs .w2 {
  background-position: -366px 0px;
  width: 154px;
}
/* line 244, sass/pm.scss */
#activities #tabs .w2:hover {
  background-position: -366px -31px;
}
/* line 245, sass/pm.scss */
#activities #tabs .w2.current {
  background-position: -366px -62px;
}
/* line 249, sass/pm.scss */
#activities #tabs .w3 {
  background-position: -193px 0px;
  width: 174px;
}
/* line 250, sass/pm.scss */
#activities #tabs .w3:hover {
  background-position: -193px -31px;
}
/* line 251, sass/pm.scss */
#activities #tabs .w3.current {
  background-position: -193px -62px;
}
/* line 254, sass/pm.scss */
#activities #tabs .w4 {
  background-position: 0px 0px;
  width: 194px;
}
/* line 255, sass/pm.scss */
#activities #tabs .w4:hover {
  background-position: 0px -31px;
}
/* line 256, sass/pm.scss */
#activities #tabs .w4.current {
  background-position: 0px -62px;
}
/* line 260, sass/pm.scss */
#activities #panes .pane {
  display: none;
}
/* line 265, sass/pm.scss */
#activities .field {
  margin: 0 2px 10px 0;
}
/* line 267, sass/pm.scss */
#activities .field label {
  padding: 4px;
  display: inline-block;
  float: left;
  font-weight: bold;
}
/* line 275, sass/pm.scss */
#activities #link-container {
  border: 1px solid #777;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  overflow: auto;
  width: 92%;
}
/* line 283, sass/pm.scss */
#activities #link {
  display: inline-block;
  width: 80%;
  height: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 1.1em;
  margin-right: 0;
  float: left;
  outline: none;
}
/* line 295, sass/pm.scss */
#activities #link-submit {
  display: inline-block;
  padding: 3px 14px;
  border: none;
  border-left: 1px solid #aaa;
  width: 19%;
  height: 25px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  background-image: linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  margin: 0;
  float: right;
}
/* line 308, sass/pm.scss */
#activities #link-box, #activities .link-info {
  display: none;
  border: 1px solid #888;
  margin: 10px 0;
  padding: 5px;
  overflow: auto;
}
/* line 315, sass/pm.scss */
#activities #link-box img, #activities .link-info img {
  width: 100px;
  height: 100px;
  padding: 3px;
  float: left;
  margin-right: 3px;
}
/* line 323, sass/pm.scss */
#activities #link-box h4, #activities .link-info h4 {
  margin: 0;
}
/* line 326, sass/pm.scss */
#activities #link-box #link-box-url, #activities .link-info #link-box-url {
  font-size: 0.9em;
  color: #777;
}
/* line 331, sass/pm.scss */
#activities .link-info {
  display: block;
  border: none;
}

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */
/* the input field */
/* line 347, sass/pm.scss */
#pubdate-field, #depubdate-field {
  font-size: 0.8em;
  color: #888;
  float: left;
  margin-right: 10px;
}

/* line 354, sass/pm.scss */
.dateinput {
  border: none;
  text-align: left;
  width: 100px;
  background: #eee;
  cursor: pointer;
  color: #888;
}

/* calendar root element */
/* line 364, sass/pm.scss */
#calroot {
  /* place on top of other elements. set a higher value if nessessary */
  z-index: 10000;
  margin-top: -1px;
  width: 198px;
  padding: 2px;
  background-color: #fff;
  font-size: 11px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 15px #666;
  -webkit-box-shadow: 0 0 15px #666;
}

/* head. contains title, prev/next month controls and possible month/year selectors */
/* line 383, sass/pm.scss */
#calhead {
  padding: 2px 0;
  height: 22px;
}

/* line 388, sass/pm.scss */
#caltitle {
  font-size: 14px;
  color: #0150D1;
  float: left;
  text-align: center;
  width: 155px;
  line-height: 20px;
  text-shadow: 0 1px 0 #ddd;
}

/* line 398, sass/pm.scss */
#calnext, #calprev {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(prev.gif) no-repeat scroll center center;
  float: left;
  cursor: pointer;
}

/* line 407, sass/pm.scss */
#calnext {
  background-image: url(next.gif);
  float: right;
}

/* line 412, sass/pm.scss */
#calprev.caldisabled, #calnext.caldisabled {
  visibility: hidden;
}

/* year/month selector */
/* line 417, sass/pm.scss */
#caltitle select {
  font-size: 10px;
}

/* names of the days */
/* line 422, sass/pm.scss */
#caldays {
  height: 14px;
  border-bottom: 1px solid #ddd;
}

/* line 427, sass/pm.scss */
#caldays span {
  display: block;
  float: left;
  width: 28px;
  text-align: center;
}

/* container for weeks */
/* line 435, sass/pm.scss */
#calweeks {
  background-color: #fff;
  margin-top: 4px;
}

/* single week */
/* line 441, sass/pm.scss */
.calweek {
  clear: left;
  height: 22px;
}

/* single day */
/* line 447, sass/pm.scss */
.calweek a {
  display: block;
  float: left;
  width: 27px;
  height: 20px;
  text-decoration: none;
  font-size: 11px;
  margin-left: 1px;
  text-align: center;
  line-height: 20px;
  color: #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* different states */
/* line 463, sass/pm.scss */
.calweek a:hover, .calfocus {
  background-color: #ddd;
}

/* sunday */
/* line 468, sass/pm.scss */
a.calsun {
  color: red;
}

/* offmonth day */
/* line 473, sass/pm.scss */
a.caloff {
  color: #ccc;
}

/* line 477, sass/pm.scss */
a.caloff:hover {
  background-color: #f5f5fa;
}

/* unselecteble day */
/* line 483, sass/pm.scss */
a.caldisabled {
  background-color: #efefef !important;
  color: #ccc  !important;
  cursor: default;
}

/* current day */
/* line 490, sass/pm.scss */
#calcurrent {
  background-color: #498CE2;
  color: #fff;
}

/* today */
/* line 496, sass/pm.scss */
#caltoday {
  background-color: #333;
  color: #fff;
}

/* line 502, sass/pm.scss */
.error {
  height: 15px;
  background-color: #FFFE36;
  font-size: 11px;
  border: 1px solid #E1E16D;
  padding: 4px 10px;
  color: #000;
  display: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-box-shadow: 0 0 6px #ddd;
  -webkit-box-shadow: 0 0 6px #ddd;
}

/* line 522, sass/pm.scss */
.error p {
  margin: 0;
}
