<h5>{{ content }}</h5>
<form id="ql-poll-form-{{_id}}" class="ql-poll-form">
    {{#answers}}
            <input  class="noborder ql-poll-box" 
                    id = "ql-poll-box-{{_id}}"
                    data-qid="{{_id}}" 
                    data-aid="{{no}}"
                    type="radio" 
                    name="answer"
                    value="{{no}}" />
            <label for="ql-poll-box-{{_id}}">{{title}}</label>
            <br />
    {{/answers}}
  <input class="context" name="vote" value="Vote" type="submit" />

</form>
