<form id="loginform" action="#/login" method="post">
  <div class="field">
    <label for="login">Login</label>
    <input type="text" name="username" id="loginform-login" size="20" maxlength="100" />
  </div>
  <div class="field">
    <label for="login">Password</label>
    <input type="password" name="password" id="loginform-password" size="20" maxlength="100" />
  </div>
  <div class="fieldset">
    <input type="submit" value="Login" />
  </div>
</form>