@import "compass/css3";

#activities {
  #entrybox {
    overflow: auto;
  }
  nav, #attachmentlinks {
    border: 0;
    margin: 0;
    padding: 3px;
    float: left;
    a {
      text-decoration: none;
      color: #888;
      padding: 2px 10px;
      margin: 0;
      border: 1px solid #888;
      @include border-radius(20px);
    }
    a.active {
      background: white;
      color: white;
      background: #fa0;
      border: 1px solid #fa0;
    }
  }
  #status-content {
    width: 98%;
    font-size: 1.2em;
    @include border-radius(3px);
    resize: none;
    border: 1px solid #888;
    margin: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear;
  }
  #status-headline {
    overflow: auto;
    
    #status-content-count {
      font-size: 2em;
      font-weight: bold;
      color: #aaa;
      display: block;
      float: right;
    }
    h2 {
      display: block;
      float: left;
      font-size: 1.8em;
      margin: 0;
      padding: 0;
    }
  }
  
  #status-send {
    @include border-radius(5px);
    @include linear-gradient(color_stops(#fff,#ccc));
    border: 1px solid #aaa;
    font-size: 1.5em;
    float: right;
    @include text-shadow(#fff,0px,1px,1px);
    color: #222
  
  }
  
  .status-type {
    padding: 10px 0;
  }
  
  hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px dotted black;
  }
  
  .activity {
    overflow: auto;
    margin: 5px 0;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
  }

  .vcard {
    float: left;
    padding: 2px;
    margin: 0;
    margin-right: 5px;
    border: 1px solid #ddd;
    display: block;
  }

  .body {
    display: block;  
  }

  .name {
    font-weight: bold;
    color: #113;
    text-decoration: none;
  }

  .time {
    display: block;
    font-size: 0.9em;
    color: #aaa;
  }
  
  nav {
    float: right;
  }
  
  #searchbar {
    float: left;
    input {
      @include border-radius(100px);
      background: white;
      border: 1px solid #888;
      font-size: 1.2em;
    }
  }
  
  header {
    overflow: hidden;
    background: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 0;
    height: auto;
    
  }
 
}
