@import "compass/css3";

#activities {

  #breadcrumbbox {
    font-size: 0.9em;
    margin-bottom: 20px;
    a {
        text-decoration: none;
    }
    .bc.active {
        font-size: 2em;
    }
    .add {
        font-size: 1em;
        height: 5px;
        width: 5px;
        @include border-radius(100px);
        @include linear-gradient(color_stops(#fff,#eee));
        padding: 1px 3px;
        border: 1px solid #ccc;
        @include text-shadow(#fff,0px,1px,1px);
        color: #888;
    }
    .add:hover {
        font-size: 1em;
        height: 5px;
        width: 5px;
        @include border-radius(100px);
        @include linear-gradient(color_stops(#afc,#8ea));
        padding: 1px 3px;
        border: 1px solid #888;
        @include text-shadow(#fff,0px,1px,1px);
        color: #444;
    }
    
  }

  #entrybox {
    overflow: auto;
    background: #ddd;
    border-bottom: 1px solid #aaa;
    padding:15px 10px;
  }

  nav, #attachmentlinks {
    border: 0;
    margin: 0;
    padding: 3px;
    float: left;
    a {
      text-decoration: none;
      color: #888;
      padding: 2px 10px;
      margin: 0;
      border: 1px solid #888;
      @include border-radius(20px);
    }
    a.active {
      background: white;
      color: white;
      background: #fa0;
      border: 1px solid #fa0;
    }
  }
  textarea, #status-content {
    width: 98%;
    font-size: 1.3em;
    font-weight: normal;
    @include border-radius(3px);
    @include box-shadow(rgba(0,0,0,0.1), 1px, 1px, 3px, 0, inset);
    resize: none;
    border: 1px solid #aaa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 2px;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear;

    &:focus {
      border: 1px solid #8ac;
      @include box-shadow(#0af, 0,0 , 3px);
    }
  }
  #status-headline {
    overflow: auto;
    
    #status-content-count {
      font-size: 2em;
      font-weight: bold;
      color: #aaa;
      display: block;
      float: right;
    }
    h2 {
      display: block;
      float: left;
      font-size: 1.8em;
      margin: 0;
      padding: 0;
    }
  }
  
  #status-send {
    @include border-radius(5px);
    @include linear-gradient(color_stops(#fff,#ccc));
    border: 1px solid #aaa;
    font-size: 1.5em;
    float: right;
    @include text-shadow(#fff,0px,1px,1px);
    color: #222
  
  }
  
  .status-type {
    padding: 0px 0;
  }
  
  hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px dotted black;
  }
  
  .activity {
    overflow: auto;
    margin: 0;
    padding: 0 0;
    border-bottom: 1px solid #eee;
  }

  .vcard {
    float: left;
    padding: 2px;
    margin: 0;
    margin-right: 5px;
    border: 1px solid #ddd;
    display: block;
  }

  .body {
    display: block;  
    padding-right: 4px;
    margin-top: 4px;
  }

  .folder a {
      font-size: 2em;
      text-decoration: none;
      color: #03a;
  }

  .meta {
    color: #aaa;
    padding-right: 4px;
    padding-bottom: 4px;

      .fullname a {
        text-decoration: none;
        color: #aaa;
        font-size: 9px;
      }

      .time {
        float: right;
        display: block;
        font-size: 9px;
      }

      .effective {
          font-size: 9px;
          margin-left: 20px;
      }
  }
  
  nav {
    float: right;
  }
  
  #searchbar {
    float: left;
    input {
      @include border-radius(100px);
      background: white;
      border: 1px solid #888;
      font-size: 1.2em;
    }
  }
  
  header {
    overflow: auto;
    background: none;
    margin: 20px 0;
    padding: 0;
    border: 0;
    height: auto;
  }

//
// TABS
//
  
  #tabs { 
      list-style:none; 
      margin:0 !important; 
      padding:0;
      height:30px;
      border-bottom:1px solid #ddd;   
  }

  /* single tab */
  #tabs li { 
      float:left;  
      text-indent:0;
      padding:0;
      margin:0 !important;
      list-style-image:none !important; 
  }

  /* link inside the tab. uses a background image */
  #tabs a { 
      @include linear-gradient(color_stops(#eee,#ccc));
      font-size:11px;
      display:block;
      line-height:20px;
      height: 20px;  
      width: 60px;
      text-align:center;  
      text-decoration:none;
      color:#333;
      padding:0px;
      margin:0px; 
      margin-right: 5px;
      position:relative;
      top:10px;
  }

  #tabs a:active {
      outline:none;       
  }

  /* when mouse enters the tab move the background image */
  #tabs a:hover {
      @include linear-gradient(color_stops(#fff,#ddd));
      color:#000; 
  }

  /* active tab uses a class name "current". it's highlight is also done by moving the background image. */
  #tabs .current, #tabs .current:hover, #tabs li.current a {
      cursor:default !important; 
      color:#222 !important;
      font-weight: bold;
  }
  #tabs li.current a{
      @include linear-gradient(color_stops(#eee,#ddd));
      color: #222;
      top: 1px;
      height: 30px;
      line-height: 30px;
  }

  /* initially all panes are hidden */ 
  #panes .pane {
      display:none;       
  }

  // tab contents
  .field {
    margin: 0 2px 10px 0;
    label {
      padding: 4px;
      display: inline-block;
      float: left;
      font-weight: bold;
    }
  }
 
  #link-container {
    border: 1px solid #777;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    overflow: auto;
    width: 92%;
    background: white;
  }

  #link {
    display: inline-block;
    width: 80%;
    height: 23px;
    @include border-radius(2px);
    border: none;
    font-size: 1.1em;
    margin-right: 0;
    float: left;
    outline: none;
  }

  #link-submit {
    display: inline-block;
    padding: 3px 14px;
    border: none;
    border-left: 1px solid #aaa;
    width: 19%;
    height: 25px;
    font-weight: bold;
    @include linear-gradient(color_stops(#eee,#ddd));
    margin: 0;
    float:right;
  }

  #link-box, .link-info {
    display: none;
    border: 1px solid #888;
    margin: 10px 0;
    padding: 5px;
    overflow: auto;
    background: white;

    img {
      max-width: 100px;
      padding: 3px;
      float: left;
      margin-right: 3px;
    }

    h4 {
      margin: 0;
    }
    #link-box-url {
      font-size: 0.9em;
      color: #777;
    }
  }
  .link-info {
    display: block;
    border: none;
    background: white;
  }

}



// calendar
//


/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

/* the input field */
#pubdate-field, #depubdate-field {
    display: block;
    font-size: 0.8em;
    color: #888;
    float: left;
    margin-right: 10px;

    label {
        margin-right: 3px;
        float: left;
    }

    .dateinput {
        border: none;
        text-align:left;
        width:80px;
        background: #eee;
        cursor: pointer;
        color: #888;
        float: left;
    }

    .removebutton {
        float: right;
        width: 16px;
    }
}


/* calendar root element */
#calroot {
    /* place on top of other elements. set a higher value if nessessary */
    z-index:10000;
    
    margin-top:-1px;
    width:198px;
    padding:2px;
    background-color:#fff;
    font-size:11px;
    border:1px solid #ccc;
    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    
    -moz-box-shadow: 0 0 15px #666;
    -webkit-box-shadow: 0 0 15px #666;  
}

/* head. contains title, prev/next month controls and possible month/year selectors */
#calhead {  
    padding:2px 0;
    height:22px;
} 

#caltitle {
    font-size:14px;
    color:#0150D1;  
    float:left;
    text-align:center;
    width:155px;
    line-height:20px;
    text-shadow:0 1px 0 #ddd;
}

#calnext, #calprev {
    display:block;
    width:20px;
    height:20px;
    background:transparent url(prev.gif) no-repeat scroll center center;
    float:left;
    cursor:pointer;
}

#calnext {
    background-image:url(next.gif);
    float:right;
}

#calprev.caldisabled, #calnext.caldisabled {
    visibility:hidden;  
}

/* year/month selector */
#caltitle select {
    font-size:10px; 
}

/* names of the days */
#caldays {
    height:14px;
    border-bottom:1px solid #ddd;
}

#caldays span {
    display:block;
    float:left;
    width:28px;
    text-align:center;
}

/* container for weeks */
#calweeks {
    background-color:#fff;
    margin-top:4px;
}

/* single week */
.calweek {
    clear:left;
    height:22px;
}

/* single day */
.calweek a {
    display:block;
    float:left;
    width:27px;
    height:20px;
    text-decoration:none;
    font-size:11px;
    margin-left:1px;
    text-align:center;
    line-height:20px;
    color:#666;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;      
} 

/* different states */
.calweek a:hover, .calfocus {
    background-color:#ddd;
}

/* sunday */
a.calsun {
    color:red;      
}

/* offmonth day */
a.caloff {
    color:#ccc;     
}

a.caloff:hover {
    background-color:rgb(245, 245, 250);        
}


/* unselecteble day */
a.caldisabled {
    background-color:#efefef !important;
    color:#ccc  !important;
    cursor:default;
}

/* current day */
#calcurrent {
    background-color:#498CE2;
    color:#fff;
}

/* today */
#caltoday {
    background-color:#333;
    color:#fff;
}


.error {
    height:15px;
    background-color:#FFFE36;
    font-size:11px;
    border:1px solid #E1E16D;
    padding:4px 10px;
    color:#000;
    display:none;   
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px; 
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-topleft:0;   
    -webkit-border-bottom-left-radius:0; 
    -webkit-border-top-left-radius:0;
    
    -moz-box-shadow:0 0 6px #ddd;
    -webkit-box-shadow:0 0 6px #ddd;    
}

.error p {
    margin:0;       
}

.title{
    font-size: 1.3em;
    font-weight: bold;
}

.answers {
    margin-bottom: 0;
}

